:root {
  --bg-color: #fff;
  --text-color: #000;
  --border-color: #f2f2f2;
  --link-color: darkblue;

  user-select: none;
}

.dark {
  --bg-color: #121212;
  --text-color: #fff;
  --border-color: #1b1b1b;
  --link-color: plum;
}

.container {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

a:visited {
  color: var(--link-color);
}

button {
  background-color: var(--bg-color);
  padding: 0;
  border-color: var(--border-color);
}

* {
  font-family: monospace;
}
